<h2> <%= @cut.name %> </h2>

<div class="grid-container">
    <div class="cuts-display">
        <%= image_tag @cut.image, :class => 'feature' if @cut.image.present? %>
            <ul>
                <% if @cut.alternative_name.present? %>
                    <li>Alternative name: <%= @cut.alternative_name %></li>
                <% end %>


                <li>Location: <%= @cut.location %></li>
                <li>Characteristics: <%= @cut.characteristics unless @cut.characteristics.nil? %></li>
            </ul>
    </div>
    <div class="cuts-dishes-display">
        <h3>Feeling inspired?</h3>
        <ul>
            <% @cut.dishes.each do |dish|%>
            <li><%= link_to image_tag(dish.image_URL, :class => 'thumb'), dish %></li>
            <li><%= link_to (dish.name), dish %></li>
            <% end %>
        </ul>
    </div>
</div>                

<div class="controls">
    <%= link_to "Edit cut", edit_cut_path(@cut) %>
    <%= link_to "Delete cut", @cut, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
</div>