<h2><%= @dish.name %></h2>

<div class="grid-container">
    <div class="dish-display">
        <%= image_tag @dish.image_URL, :class => 'feature' %>
        <ul>
            <% if @dish.cut.present? %>
                <li>Cut: <%= link_to @dish.cut.name, @dish.cut %></li>
            <% end %>
            
            <li>Cuisine: <%= @dish.cuisine %></li>

            <% if @dish.recipe_URL.present? %>
                <li><%= link_to "Link to recipe", @dish.recipe_URL, target: "_blank" %></li>
            <% end %>
                
        </ul>
    </div>

    <div class="wine-pairings">
            <h3>Pair with</h3>
            <ul>
                <% @dish.wines.each do |wine|%>
                    <li><%= link_to image_tag(wine.image_URL, :class => 'thumb'), wine %></li>
                    <li><%= link_to (wine.name), wine %></li>
                <% end %>
            </ul>
        </div>
</div>

<div class="controls">
    <%= link_to "Edit dish", edit_dish_path(@dish) %>
    <%= link_to "Delete dish", @dish, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
</div>