<h2><%= @dish.name %></h2>

<%= image_tag @dish.image_URL, :class => 'feature' %>

<ul>
    <% if @dish.cut.present? %>
        <li>Cut: <%= link_to @dish.cut.name, @dish.cut %></li>
    <% end %>
        
    <% if @dish.cut.present? %>
         <li>Pair with:
        <% @dish.wines.each do |wine|%>
            <%= link_to (wine.name), wine %>
        <% end %>
    <% end %>
    
    <li>Cuisine: <%= @dish.cuisine %></li>
        <%= link_to "Link to recipe", @dish.recipe_URL %>
</ul>

<div class="controls">
    <%= link_to "Edit dish", edit_dish_path(@dish) %>
    <%= link_to "Delete dish", @dish, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
</div>