<!DOCTYPE html>
<html>
  <head>
    <title>Butcher</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    <nav>
      <%= link_to "All cuts", cuts_path %>
      <%= link_to "New cut", new_cut_path %>
      |
      <%= link_to "All dishes", dishes_path %>
      <%= link_to "New dish", new_dish_path %>
      |
      <%= link_to "All wines", wines_path %>
      <%= link_to "New wine", new_wine_path %>
      
    </nav>
      <%= yield %>
      </div>
  </body>
</html>
